body {
    font-family: "Courier", Courier, monospace;
    background-color: #fdfaf3;
    color: #000;
    margin: 2rem;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }
  
  h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1em;
  }

  ul {
    margin-left: 1em;
    padding-left: 0;
  }

  li {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 22px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1em 0;
  }
  
 strong {
    display: inline-block;
    margin-top: 1em;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 1.5em;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .github-icon {
    vertical-align: middle;
    height: 1em;
    margin-left: 0.2em;
  }
  
  p {
    font-size: 18px;
  }
